@tailwind base;
@tailwind components;
@tailwind utilities;



.event-banner {
 
  background-image : linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 49.09%, rgba(153, 153, 153, 0.04) 98.61%);
}

.event-details {
  position: absolute;
  white-space: nowrap;
  animation: marquee 20s linear infinite; /* Adjust duration as needed */
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}